<div class="panel left_panel" style="width: 250px;">
	<div class="panel_content">
		<div class="buttons big_single_button">
			<span href="javascript: void(0)" class="button" data-bind="click: function () { $root.createEntity(); }">
				<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_CREATE_ENTITY_' + sType.toUpperCase()}"></span>
			</span>
		</div>
		<div class="middle_bar">
			<div class="panel_center" data-bind="customScrollbar: {x: false}">
				<div class="scroll-inner">
					<div class="items_list" data-bind="foreach: entities">
						<div class="item canSelect" data-bind="click: function () { $root.changeEntity($parent.sType, Id); }, css: {'selected': $parent.current() === Id}">
							<span class="title">
								<span class="icon"></span>
								<span class="text" data-bind="text: Name || PublicId"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel data" data-bind="visible: showCreateForm">
	<div class="panel_content">
		<div class="middle_bar">
			<div class="panel_top">
				<h2 class="settings_heading" data-bind="text: oEntityCreateView.sHeading"></h2>
			</div>
			<div class="panel_center">
				<div class="fields">
					
					<div class="fieldset" data-bind="with: oEntityCreateView">
						<!-- ko template: {name: ViewTemplate, data: $data} --><!-- /ko -->
					</div>
					
					<div class="buttons">
						<span class="button" data-bind="click: createEntity, visible: !isCreating()">
							<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_CREATE'}"></span>
						</span>
						<span class="button" data-bind="visible: isCreating()">
							<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_CREATE_IN_PROGRESS'}"></span>
						</span>
						<span class="button secondary_button" data-bind="click: function () { $root.cancelCreatingEntity() }, visible: !isCreating()">
							<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
